




.dialog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 20px;
  padding-left: 20px;
}




.dialog img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.dialog a {
  padding-top: 20px;

}