.discriptionBlock {
  display: grid;
  grid-template-columns: 5fr ;
  padding: 10px;
  margin: 20px;
  margin: 20px;
}

.discriptionBlock img {
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.fullname {
  text-transform: uppercase;
  font-weight: bold;

}

.personDescription {
  font-weight: bold;
}

.personDescription span {
  font-weight: normal;
}

.wrapper{
  display: flex;
  flex-direction: row;

}

.facebook {

  width: 50px;
  height: 50px;
  background-image: url('../../../assets/image/facebook.png');
  background-repeat: no-repeat;
}

.instagram {
  width: 50px;
  height: 50px;
  background-image: url('../../../assets/image/instagram.png');
  background-repeat: no-repeat;
}