.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}


.dialogItem {
  padding: 10px;
}

.dialogItem .active{
  color: gold;
}

.messages {
  display: grid;
  grid-template-columns: 1fr  1fr 1fr;
  padding: 10px;
}